<img src="https://i.ibb.co/hcrKx44/Weekly-Challenge-Banner.png" >

# Weekly Challenge 7
## Description

Hello everyone and welcome to the seventh challenge! This week, you will perform a _data visualization_ task. Properly presenting data is a key skill in data science, however <a href=https://www.reddit.com/r/dataisugly/>bad data presentations</a> can be often found in public institution reports as well as traditional media.

## About the data

The data from this challenge is a detailed list of all the Nobel prize laureates. The dataset includes information concerning the laureate's date and place of birth (and death), the field they were active in as well as the motivation of the committee to award the prize.

## The task

Here, we would like to investigate how the average age of Nobel prize laureates varies over the decades for each category (medicine, physics,...). Create a (simple) visualization that answers this question! We will then vote for the best visualization within the association, with the winner receiving a (unfortunately not Nobel) prize!

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv('data/laureate.csv', index_col='id')
df.head()

,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,diedCountryCode,diedCity,gender,year,category,overallMotivation,share,motivation,name,city,country
id,,,,,,,,,,,,,,,,,,,
1,Wilhelm Conrad,Röntgen,1845-03-27,1923-02-10,Prussia (now Germany),DE,Lennep (now Remscheid),Germany,DE,Munich,male,1901.0,physics,NaN,1.0,"""in recognition of the extraordinary services ...",Munich University,Munich,Germany
2,Hendrik Antoon,Lorentz,1853-07-18,1928-02-04,the Netherlands,NL,Arnhem,the Netherlands,NL,NaN,male,1902.0,physics,NaN,2.0,"""in recognition of the extraordinary service t...",Leiden University,Leiden,the Netherlands
3,Pieter,Zeeman,1865-05-25,1943-10-09,the Netherlands,NL,Zonnemaire,the Netherlands,NL,Amsterdam,male,1902.0,physics,NaN,2.0,"""in recognition of the extraordinary service t...",Amsterdam University,Amsterdam,the Netherlands
4,Antoine Henri,Becquerel,1852-12-15,1908-08-25,France,FR,Paris,France,FR,NaN,male,1903.0,physics,NaN,2.0,"""in recognition of the extraordinary services ...",École Polytechnique,Paris,France
5,Pierre,Curie,1859-05-15,1906-04-19,France,FR,Paris,France,FR,Paris,male,1903.0,physics,NaN,4.0,"""in recognition of the extraordinary services ...",École municipale de physique et de chimie indu...,Paris,France

In [2]:
#################################################
############# YOUR CODE STARTS HERE #############
#################################################

pass

#################################################
############## YOUR CODE ENDS HERE ##############
#################################################

## Submission

Submit your plot on the following link: [https://forms.gle/P5QQZFTBemCQykCX6](https://forms.gle/P5QQZFTBemCQykCX6).